@page
@model OWCE_Web.Pages.KnownHardwareFirmwareModel
@{
    ViewData["Title"] = "Known hardware/firmware list";
    List<Data.Board> Boards = new List<Data.Board>()
{
        Data.Board.GetGT(),
        Data.Board.GetPintX(),
        Data.Board.GetPint(),
        Data.Board.GetXR(),
        Data.Board.GetPlus(),
        Data.Board.GetV1(),
    };
}

NOTE: See the FAQ at the bottom of this page to understand what this all means.

@foreach (var board in Boards)
{
    <div class="container">
        <h2>@board.Name</h2>
        <p>@board.Description</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        @foreach (var hardware in board.KnownHardware)
                        {
                            <th>@hardware</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var firmware in board.KnownFirmware)
                    {
                        <tr>
                            <th>@firmware</th>
                            @foreach (var hardware in board.KnownHardware)
                            {
                                var firmwareStatus = board.KnownHardwareFirmware.ContainsKey((hardware, firmware)) ? board.KnownHardwareFirmware[(hardware, firmware)] : Data.FirmwareStatus.Unknown;
                                var tdClass = firmwareStatus switch
                                {
                                    Data.FirmwareStatus.Suspected => "danger",
                                    Data.FirmwareStatus.ConfirmedNotPubliclyAvailable => "info",
                                    Data.FirmwareStatus.Confirmed => "success",
                                    _ => "warning",
                                };
                                var firmwareStatusText = firmwareStatus switch
                                {
                                    Data.FirmwareStatus.Suspected => "Suspected",
                                    Data.FirmwareStatus.ConfirmedNotPubliclyAvailable => "Private",
                                    Data.FirmwareStatus.Confirmed => "Confirmed",
                                    _ => "",
                                };
                                <td class="@tdClass">@firmwareStatusText</td>
                            }
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
}

<div class="container">
    <h2>Frequently Asked Questions</h2>

    <h3>
        What does confirmed, private and suspected mean?
    </h3>
    These are the different states of availability.
    <ul>
        <li><b>Confirmed</b> - Firmware is/was available for you to download in the app and update your board.</li>
        <li><b>Private</b> - Firmware is not and never was availalbe to update via the app. The only way to get this firmware is to get your board directly from Future Motion or to have your board go in for repair and maybe it comes back with this firmware.</li>
        <li><b>Suspected</b> - Firmware has not been seen in the wild, but there should be no reason there are boards out there with this firmware.</li>
    </ul>

    <h3>
        I don't want to update my firmware, not updating my app will protect me from that right?
    </h3>
    No. But you can read more about that <a href="faq/unofficial_app_update">here</a>.

</div>
